
QProgressBar {
	 border-radius: 6px;
	 background-color: #88CD44;
}
QDial {
	 border-radius: 12px;
	 background-color: #FD18CD;
}
QProgressBar::chunk {
/*    background-color: #CD88CD; */
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(128, 128, 192, 255), stop:1 rgba(255, 30, 205, 255));

	 border-radius: 8px;
	 border-width: 2px;
/*    width: 10px;
     margin: 0.5px;*/
 }

